{% extends "layout.html" %}

{% block content %}

<h1 style="background-color:yellow; color:black">{{ title }}</h1>


<p>
    The project is part of the "data science" profession of the 10th grade students of the Alterman High School in Tel Aviv.
</p>
<p>
    The project combines two main areas of knowledge:
</p>
<p>
    - Programming in the web environment.
</p>
<p>
    - Data science.
</p>
<p>
    As part of the project, I located a database of information on the network and intend to build a website around them that allows access to the database, data analysis and presentation to users in a convenient way. The site will allow the user to explore the data in the chosen field and try to reach valuable insights and conclusions.
</p>
<p>
    The project will be based on the following technological components:
</p>
<p>
    <a href="https://www.python.org/">- Python language.</a>
</p>
<p>
    <a href="https://pandas.pydata.org/">- Pandas Library.</a>
</p>
<p>
    <a href="https://www.fullstackpython.com/flask.html">- Flask infrastructure.</a>
</p>
<p>
    <a href="https://en.wikipedia.org/wiki/Matplotlib">- MatPlotLib library.</a>
</p>
<p>
    <a href="https://pypi.org/project/requests/">- Requests directory.</a>
</p>

<a class="btn btn-primary heb" href="https://github.com/yaliy118/yaliNew">GitHub</a>
<a class="btn btn-primary heb" href="https://docs.google.com/document/d/1aBeOIjZNVCcRH1HbIVfUVB97SkbMwipbW7NcI4G5bEw/edit">Specification document</a>
<p> </p>
<img src="https://cdn-images-1.medium.com/max/1040/1*IJaOVvKEEseucx63gHluIQ.jpeg" style="width:1110px; height:500px;">

{% endblock %}
