{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h3>Please enter on the six photos!!!!</h3>


<table>
    <tr>
        <th><a href="https://en.wikipedia.org/wiki/Neymar"><img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Bra-Cos_%281%29.jpg" alt="neymar" width="300" height="300"></th>
        <td><a href="https://en.wikipedia.org/wiki/Ronaldinho"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Ronaldinho_Ga%C3%BAcho_em_junho_de_2019.jpg/353px-Ronaldinho_Ga%C3%BAcho_em_junho_de_2019.jpg" alt="Ronaldinio" width="300" height="300"></td>
    </tr>
    <tr>
        <th><a href="https://en.wikipedia.org/wiki/Diego_Maradona"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Maradona_1986_vs_italy.jpg/375px-Maradona_1986_vs_italy.jpg" alt="Maradona" width="300" height="300"></th>
        <td><a href="https://en.wikipedia.org/wiki/Luka_Modri%C4%87"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Shahter-Reak_M_2015_%2810%29.jpg/375px-Shahter-Reak_M_2015_%2810%29.jpg" alt="Modrić" width="300" height="300"></td>
    </tr>
    <tr>
        <th><a href="https://en.wikipedia.org/wiki/Lionel_Messi"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Lionel_Messi_20180626.jpg/375px-Lionel_Messi_20180626.jpg" alt="Messi" width="300" height="300"></th>
        <td><a href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Cristiano_Ronaldo_2018.jpg/330px-Cristiano_Ronaldo_2018.jpg" alt="Ronaldo" width="300" height="300"></td>
    </tr>
</table>
{% endblock %}
