{% extends "layout.html" %}
{%import "bootstrap/wtf.html" as wtf%}
{% block content %}

<h1 style="background-color:lightblue; color:black;">{{ title }}</h1>

<div class="row">

    <div class="col-md-4">
        <form method="post">
            {{ form1.csrf_token }}
            {{ wtf.form_field(form1.NOC) }}
            {{ wtf.form_field(form1.StartYear) }}
            {{ wtf.form_field(form1.EndYear) }}
            {{ wtf.form_field(form1.KindofGraph) }}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>The Graph is:</h4>
            <img src={{ chart }} class="img-thumbnail" alt="not found">
        </div>
    </div>
</div>
        {% endblock %}