{% extends "layout.html" %}
{%import "bootstrap/wtf.html" as wtf%}
{% block content %}

<h1 style="background-color:steelblue; color:white;">{{ title }}</h1>


<div class="row">

    <div class="col-md-4">
        <form method="post">
            {{ form1.csrf_token }}
            {{ wtf.form_field(form1.NOC) }}
            {{ wtf.form_field(form1.StartYear) }}
            {{ wtf.form_field(form1.EndYear) }}
            {{ wtf.form_field(form1.KindofGraph) }}
            <input class="btn btn-primary" type="submit" value="Graph">
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>The Graph of all the kinds of medals is:</h4>
            <img src={{ chart_all }} class="img-thumbnail" alt="not found">
        </div>
        <div class="row">
            <h4>The Graph of gold medals is:</h4>
            <img src={{ chart_Gold }} class="img-thumbnail" alt="not found">
        </div>
        <div class="row">
            <h4>The Graph of silver medals is:</h4>
            <img src={{ chart_Silver }} class="img-thumbnail" alt="not found">
        </div>
        <div class="row">
            <h4>The Graph of bronze medals is:</h4>
            <img src={{ chart_Bronze }} class="img-thumbnail" alt="not found">
        </div>
    </div>
</div>

        {% endblock %}